p {
    margin: 0;
    position: relative;
}

.completed {
    text-decoration: line-through;
}

.uncompleted {
    background-color: white;
}

.ant-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
    margin: 15px;
}

.ant-btn-dangerous.ant-btn-primary {
    position: absolute;
    right: 35px;
    top: -5px;
}